<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Storm Surge</a></li>
  <li><a data-toggle="tab" href="#menu1" id="radar">Caution Areas</a></li>

  </ul>

<div class="tab-content">
  <!--This is the home page tab-->
   <div id="home" class="tab-pane fade in active">
    <div class="row surge">
      <div class="col-md-12 surge">
        <div id="map2"></div>
      </div>
    </div>

  </div>
  <!--This is the Google Maps Tab-->
  <div id="menu1" class="tab-pane fade">
    <div class="row">
      <div class="col-md-12">

        <div id="map"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="logoSlogo">
          <img src="/images/logo.png" id="smallLogo" alt="hunkerup" height="53" width="70">
          <!--<p class="slogan" >Keeping you Safe and Dry!</p>-->
        </div>
        <div class="addForm">
          <h3 id="add">Report an incident</h3>

          <script>
            var markers = <%- JSON.stringify(places) %>;
          </script>
          <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsOviKubGOIxhM8kkaClBBQtXg-Pk4wEM&callback=initMap"></script>

          
          <form action="/places" method="POST">

            <div class="form-group">
              <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="address" placeholder="Address">

            </div>

            <input type="submit" class="btn btn-primary">
           

          </form>
           
        </div>

      </div>
      <div class="col-md-4">
        <div class="places">
          <h3 id="places">Incidents Reported</h3>
          <% places.forEach(function(place) { %>
            <div class="well">
              <%= place.name %>
            </div>
            <% }); %>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <!-- scripts -->

      <script src="/js/script.js"></script>

    </div>
  

  </div>
  <!--This is the Storm Surge Tab-->


</div>
